{% extends "layout.twig" %}

{% block content %}

<div class="canvas">

    <!-- Header Include -->
    {% include "includes/header.twig" %}

    <!-- Page Title -->
    <div class="page-title">
        <div class="wrapper">
            {{widget('pagetitle', 'title', {})|raw}}
        </div>
    </div>

    <!-- Main Zone -->
    <div class="main wrapper clearfix">
        {{zone('main')|raw}}
    </div>

    <!-- Footer Include -->
    {% include "includes/footer.twig" %}

</div>

{% endblock %}

