{% extends "layout.twig" %}

{% block content %}

<div class="canvas">

    <!-- Header Include -->
    {% include "includes/header.twig" %}

    <!-- Feature -->
    {{widget('feature', 'feature', {"header": "profile", "defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '0','showBtn': false, "buttonText":"Lorem Ipsum"})|raw}}

    <div class="main wrapper clearfix">
		{{zone('main')|raw}}
    </div>

    <!-- Footer Include -->
    {% include "includes/footer.twig" %}

</div>

{% endblock %}
