<footer class="bk-footer">
    <div class="wrapper">
    	<div class="footer-content">
			{{widget('profile', 'profile3', { 'profileType':'copyright', 'copyright':'profile'})|raw}}
			{{widget('profile', 'profile4', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
	    </div>
    </div>
</footer>