<footer class="bk-footer">
    <div class="wrapper">
    	<div class="footer-content">
			{{widget('profile', 'footer_profile--copyright', { 'profileType':'copyright', 'copyright':'profile'})|raw}}
        	{{widget('profile', 'footer_profile--socialicons', { 'profileType' : 'socialicons' })|raw}}
	    </div>
    </div>
</footer>