<div class="top-section">
	<div class="wrapper">
		<ul class="top-section-list">
			<li class="top-section-item">
				{{widget('profile', 'profile', { 'profileType':'email', 'email':'profile'})|raw}}
			</li>
			<li class="top-section-item">
				{{widget('profile', 'profile1', { 'profileType':'phone', 'phone':'profile'})|raw}}
			</li>
		</ul>
	</div>
</div>

<header class="bk-header">
    <div class="wrapper">
    	<div class="header-content">
			{{widget('companyname', 'companyname', {"business": "profile"})|raw}}
	        {{widget('extendednavigation', 'extendednavigation', {"align":"right"})|raw}}
	    </div>
    </div>
</header>